.form__save-button {
  background-color: #000;
  border: none;
  border-radius: 2px;
  color: #fff;
  margin: 48px 0 0;
  padding: 0;
  height: 50px;
  cursor: pointer;
  transition: opacity .5s linear;
}

.form__save-button:hover {
  opacity: .8;
}

@media screen and (max-width: 600px) {
  .form__save-button {
    margin-top: 45px;
  }
}
